* {
    box-sizing: border-box;
    margin: 0;
}




a {
    color: dimgray;
    transition: background-color .4s, color .4s;
    text-decoration: none;
    text-transform:uppercase;
}

a:hover {
    color:darkslategray;
}

ul {
    padding-left: 0;
}